:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-blue: #05F;
  --color-red: #F30;
  --color-yellow: #FC0;
  --color-gray: #777;
  --background-color: #FAFAFA;
  --border-color: #EEE;
  --border-radius: .25rem;
  --border-radius-lg: .5rem;
}


/* ==========================================================================
   GENERIC
   ========================================================================== */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--font-family);
  background-color: var(--background-color);
  line-height: 1.4;
}

a {
  color: var(--color-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

dt {
  font-weight: 700;
  font-size: 1.25rem;
}

dl:not[class] dd + dt {
  margin-top: 1rem;
}

dd {
  color: var(--color-gray);
}

mark {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(-100deg, rgba(255, 224, 0, 0.3), rgba(255, 224, 0, 0.7) 95%, rgba(255, 224, 0, 0.1));
}


/* ==========================================================================
   OBJECTS
   ========================================================================== */


[style*='--aspect-ratio'] > :first-child {
  height: auto;
  width: 100%;
}

@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
    width: 100%;
    background-color: var(--color-gray-30);
  }

  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}


.o-container {
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.o-container--md {
  max-width: 45rem;
}


.o-grid {
  --min-column: 300px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-column), 1fr));
  grid-gap: 1rem;
}


.o-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.o-layout__minor {}

.o-layout__major {
  grid-column-start: 2;
  grid-column-end: 4;
}



/* ==========================================================================
   COMPONENTS
   ========================================================================== */


.c-header {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--border-color);
}

.c-header__title {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.c-header__description {
  margin-top: 0.25rem;
  font-size: 1rem;
  color: var(--color-gray);
}

@media (min-width: 700px) {
  .c-header__title {
    font-size: 2.5rem;
  }

  .c-header__description {
    font-size: 1.5rem;
  }
}


.c-nav {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  display: inline-flex;
  border-bottom: 1px solid var(--border-color);
}

.c-nav__item:not(:last-of-type) {
  margin-right: 1rem;;
}

.c-nav__anchor {
  display: inline-flex;
  align-items: center;
}

.c-nav__anchor svg {
  margin-left: .25rem;
}


.c-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: var(--color-blue);
  color: #fff;
  font-size: 1.2rem;
  border-radius: 50%;
}


.c-btn {
  display: inline-flex;
  padding: 0.75rem 1rem;
  background-color: var(--color-blue);
  color: #fff;
  border-radius: var(--border-radius);
  transition: all ease-in-out 0.2s;
}

.c-btn:hover,
.c-btn:focus {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.c-section {
  padding-top: 4rem;
}

.c-section + .c-section {
  margin-top: 4rem;
  border-top: 1px solid var(--border-color);
}

.c-section__heading {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.2;
}


.c-facepile {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.c-facepile__item {
  margin-left: -1rem;
}

.c-facepile__item:hover {
  position: relative;
  z-index: 1;
}

.c-avatar {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--border-color);
}

.c-avatar img {
  width: 100%;
}


.c-intro {
  margin-bottom: 2rem;
}

.c-intro__date {
  display: block;
  color: var(--color-gray);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.c-intro__heading {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}

.c-intro__media {
  margin-bottom: 2rem;
}


.c-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
  border-radius: var(--border-radius-lg);
  background-color: #fff;
  border: 1px solid var(--border-color);
  transition: border-color ease-in-out 0.2s;
}

.c-card:target {
  border-color: var(--color-blue);
}

.c-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow:
    0 0.6px 2.2px rgba(0, 0, 0, 0.008),
    0 1.3px 5.3px rgba(0, 0, 0, 0.012),
    0 2.5px 10px rgba(0, 0, 0, 0.015),
    0 4.5px 17.9px rgba(0, 0, 0, 0.018),
    0 8.4px 33.4px rgba(0, 0, 0, 0.022),
    0 20px 80px rgba(0, 0, 0, 0.03)
  ;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
  z-index: -1;
}

.c-card:focus-within::before,
.c-card:hover::before {
  opacity: 1;
}

@media (min-width: 768px) {
  .c-card {
    padding: 2rem;
  }
}

.c-card__heading {
  font-size: 1rem;
  line-height: 1.2;
}

.c-card * + .c-card__heading {
  margin-top: 1rem;
}

.c-card__heading a {
  color: inherit;
  text-decoration: none;
}

.c-card__heading a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-lg);
  z-index: 10;
}

.c-card__address,
.c-card__description {
  margin-top: .5rem;
  margin-bottom: 1rem;
  color: #777;
}

.c-card__faux-anchor {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  color: var(--color-blue);
}

.c-card__faux-anchor svg {
  margin-left: .25rem;
  transition: transform ease-in-out 0.2s;
}

.c-card:focus-within .c-card__faux-anchor svg,
.c-card:hover .c-card__faux-anchor svg {
  transform: translateX(5px);
}

.c-meta {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(50,-webkit-min-content);
  grid-template-rows: repeat(50,min-content);
}

.c-meta__title {
  grid-row-start: 1;
}


.c-social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.5rem -.5rem;
}

.c-social__item {
  margin-bottom: .5rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

.c-social__anchor svg {
  vertical-align: middle;
  fill: var(--color-gray);
  transition: fill ease-in-out 0.2s;
}

.c-social__anchor:hover svg,
.c-social__anchor:focus svg {
  fill: var(--color-blue);
}


.c-footer {
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  border-top: 1px solid var(--border-color);
}


.c-back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #000;
  border: 0;
  border-radius: 60px;
}


/* ==========================================================================
   UTILITIES
   ========================================================================== */


.u-hidden-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.u-margin-bottom-1 {
  margin-bottom: 1rem;
}

.u-margin-bottom-05 {
  margin-bottom: .5rem;
}

.u-margin-bottom-025 {
  margin-bottom: .25rem;
}

.u-text-center {
  text-align: center;
}

.u-linear > * + * {
  margin-top: 1.125rem;
}

.u-linear > * + h2,
.u-linear > * + h3 {
  margin-top: 2rem;
}

.u-breakout {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
