<footer class="c-contentinfo">
  <p>A project by <a href="https://alexcarpenter.me">Alex Carpenter</a> &bullet; Built with <a href="https://www.11ty.io/">11ty</a> &bullet; View on <a href="">Github</a></p>
</footer>
