<header class="c-header">
  <span class="c-badge js-count">{{ roasters.length }}</span>
  <h1 class="c-header__title">{{ site.title }}</h1>
  <p class="c-header__description">Crowd-sourced list of US coffee roasters</p>
  <a href="https://github.com/alexcarpenter/us-coffee-roasters/issues/new" class="c-btn">Submit a coffee roaster</a>
</header>
