---
title: Submit a roaster
description:
permalink: /submit/index.html
---
{% extends "layouts/page.njk" %}

{% block content %}
  <div class="o-container o-container--md">
    <form class="c-form" name="submit" netlify-honeypot="bot-field" action="/submit/thanks/" netlify>
      <input name="bot-field" hidden />
      <div class="c-form__group">
        <label class="c-form__label" for="name">Name</label>
        <input required class="c-form__input" type="text" name="name" id="name">
      </div>
      <div class="c-form__group">
        <label class="c-form__label" for="state">State</label>
        <select required class="c-form__input c-form__input--select" name="state" id="state">
          <option disabled selected value>Choose a state</option>
          <option value="Alabama">Alabama</option>
          <option value="Alaska">Alaska</option>
          <option value="Arizona">Arizona</option>
          <option value="Arkansas">Arkansas</option>
          <option value="California">California</option>
          <option value="Colorado">Colorado</option>
          <option value="Connecticut">Connecticut</option>
          <option value="Delaware">Delaware</option>
          <option value="District Of Columbia">District Of Columbia</option>
          <option value="Florida">Florida</option>
          <option value="Georgia">Georgia</option>
          <option value="Hawaii">Hawaii</option>
          <option value="Idaho">Idaho</option>
          <option value="Illinois">Illinois</option>
          <option value="Indiana">Indiana</option>
          <option value="Iowa">Iowa</option>
          <option value="Kansas">Kansas</option>
          <option value="Kentucky">Kentucky</option>
          <option value="Louisiana">Louisiana</option>
          <option value="Maine">Maine</option>
          <option value="Maryland">Maryland</option>
          <option value="Massachusetts">Massachusetts</option>
          <option value="Michigan">Michigan</option>
          <option value="Minnesota">Minnesota</option>
          <option value="Mississippi">Mississippi</option>
          <option value="Missouri">Missouri</option>
          <option value="Montana">Montana</option>
          <option value="Nebraska">Nebraska</option>
          <option value="Nevada">Nevada</option>
          <option value="New Hampshire">New Hampshire</option>
          <option value="New Jersey">New Jersey</option>
          <option value="New Mexico">New Mexico</option>
          <option value="New York">New York</option>
          <option value="North Carolina">North Carolina</option>
          <option value="North Dakota">North Dakota</option>
          <option value="Ohio">Ohio</option>
          <option value="Oklahoma">Oklahoma</option>
          <option value="Oregon">Oregon</option>
          <option value="Pennsylvania">Pennsylvania</option>
          <option value="Rhode Island">Rhode Island</option>
          <option value="South Carolina">South Carolina</option>
          <option value="South Dakota">South Dakota</option>
          <option value="Tennessee">Tennessee</option>
          <option value="Texas">Texas</option>
          <option value="Utah">Utah</option>
          <option value="Vermont">Vermont</option>
          <option value="Virginia">Virginia</option>
          <option value="Washington">Washington</option>
          <option value="West Virginia">West Virginia</option>
          <option value="Wisconsin">Wisconsin</option>
          <option value="Wyoming">Wyoming</option>
        </select>
      </div>
      <div class="c-form__group">
        <label class="c-form__label" for="address">Address</label>
        <textarea required class="c-form__input" name="address" id="address" cols="30" rows="3"></textarea>
      </div>
      <div class="c-form__group">
        <label class="c-form__label" for="website">Website</label>
        <input required class="c-form__input" type="text" name="website" id="website">
      </div>
      <div class="c-form__group">
        <label class="c-form__label" for="email">Your email</label>
        <input class="c-form__input" type="text" name="email" id="email">
      </div>
      <div class="c-form__group">
        <button class="c-button" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
