<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if title %}{{ title }}{% else %}({{ roasters.length }}){% endif %} - {{ site.title }}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}({{ roasters.length }}){% endif %} - {{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url | permalink }}">
  <meta name="keywords" content="{% if keywords %}{{ keywords | join(', ') }}, {% endif %}{{ site.keywords | join(', ') }}">
  <meta name="robots" content="all">
  {% set css %}{% include "app.css" %}{% endset %}
  <style>{{ css | cssmin | safe }}</style>
</head>
<body id="top">
  <div class="o-container">
    {% include "banner.njk" %}
    <main class="u-stack u-stack--4">
      {% block intro %}{% endblock %}
      {% block content %}{% endblock %}
    </main>
    {% include "contentinfo.njk" %}
  </div>
  <a href="#top" class="c-back-to-top"><span class="u-hidden-visually">Back to top</span><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="#fff"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"/></svg></a>
  {% if page.url == '/' %}
    {% set js %}
      {% include "countUp.js" %}
      {% include "main.js" %}
    {% endset %}
    <script type="module">{{ js | jsmin | safe }}</script>
  {% endif %}
</body>
</html>
